.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.product-card:first-child {
  border: 3px solid #44a3ca;
}
.product-card .left {
  height: 100%;
  width: 180px;
  height: 140px;
  margin-right: 20px;
}
.product-card .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-card .right {
  width: calc(100% - 200px);
}
.product-card .right h6 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 190%;
  color: #2d3538;
}
.product-card .right h6 span {
  font-size: 1.4rem;
  font-weight: normal;
}
.product-card .right label {
  color: #908e8e;
  font-weight: 700;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.product-card .right label img {
  width: 16px !important;
  opacity: 0.7;
}
.product-card .right .discription {
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #908e8e;
  line-height: 1.6rem;
  letter-spacing: -0.35px;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
  width: 100%;
  text-wrap: nowrap;
}
.product-card .right .pricing {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}
.product-card .right .pricing h5 {
  font-size: 2.2rem;
  letter-spacing: -0.39px;
  line-height: 2.6rem;
  margin: 20px 0 0;
  color: #0a8dd0;
}

.product-card .right .pricing p {
  font-size: 1.3rem;
  color: #0a8dd0;
  margin-bottom: 2px;
}
.product-card .like-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  width: 24px;
}
.product-card button {
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 1.4rem;
  letter-spacing: -0.3px;
  line-height: 30px;
  height: 30px;
  padding: 0 25px;
  border: 1px solid #4a90e2;
  color: #4a90e2;
  background: transparent;
  cursor: pointer;
}
.product-card .cam-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 5px;
}
.product-card .badge {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  background: #44a3ca;
  padding: 0 5px;
  font-size: 1.1rem;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: 600;
}
