* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Arial", "verdana", sans-serif;
  margin: 0;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;

  font-family: "Arial", "verdana", sans-serif;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
li {
  list-style: none;
}
/* custom classes */
.d-flex {
  display: flex;
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.v-center {
  display: flex;
  align-items: center;
}
.h-center {
  display: flex;
  justify-content: center;
}

@media (min-width: 1280px) {
  .container-wrapper {
    max-width: 1280px;
    margin: auto;
  }
}
