.researchResult {
  padding: 25px 20px;
}
.researchResult h1 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: normal;
  white-space: nowrap;
  line-height: 2.5rem;
}
.researchResult .researchResult-content {
  padding-top: 20px;
  display: flex;
  gap: 23px;
}
.researchResult .researchResult-content .results {
  width: calc(100% - 250px);
}

.researchResult .credit-label {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  line-height: 1.42857;
  color: #727272;
  font-size: 1.6rem;
}
