footer {
  border-top: 1px solid #e7e7e7;
  padding: 35px 0px 0 0;
}
footer .footer-wrapper {
  padding: 0 20px;
}
footer .footer-wrapper h1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 26px;
  color: #2d3538;
}

footer .footer-wrapper p {
  font-size: 1.5rem;
  margin: 0 0 15px 0;
  color: #727272;
}
footer .footer-wrapper .car-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .footer-wrapper .car-links a {
  text-decoration: none;
  color: #0a8dd0;
  font-size: 1.4rem;
  line-height: 3rem;
}

footer .footer-strip {
  font-style: italic;
  background: #d6dfe4;
  padding: 15px 10px;
  margin: 0;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  color: #727272;
  margin-top: 25px;
}
.footer-bottom {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #2d3538;
  /* text-align: center; */
}
.footer-bottom .footer-wrapper .links-wrapper {
  display: flex;
  align-items: center;
  gap: 27px;
}
.footer-bottom h2 {
  color: #fff !important;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 26px;
}
.footer-bottom .links {
  color: #aaa;
  display: flex;
  gap: 27px;
  align-items: center;
}
.footer-bottom a,
.footer-bottom span {
  padding: 0 2.5px;
  display: inline;
  color: #aaa;
  text-align: none;
  font-size: 1.2rem;
  text-decoration: none;
}
.footer-bottom .links div:last-child {
  display: flex;
  gap: 5px;
}

.footer-bottom .social-wrapper {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-top: 10px;
}
.footer-bottom .social-wrapper a {
  background-color: red;
  width: 36px !important;
  height: 36px !important;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2d3538;
  line-height: 32px;
  font-size: 1.6rem;
}

.footer-search.container-wrapper {
  padding: 50px 20px;
}
.footer-search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 4px;
}

.footer-search-wrapper .drop-wrapper {
  position: relative;
  width: 60px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-search-wrapper input {
  width: calc(100% - 200px);
  height: 100%;
  border: none;
  font-size: 1.4rem;
  color: #727272;
  background-color: #fff;
  padding: 6px 12px;
}
.footer-search-wrapper input:focus {
  border: none;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.footer-search-wrapper button {
  font-weight: normal;
  cursor: pointer;
  font-size: 10px;
  line-height: 1.42857;
  padding-left: 20px;
  padding-right: 20px;
  border-left-width: 0;
  background-color: #00aff0;
  color: #fff;
  width: 136px;
  height: 100%;
  border: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
